.section-title {
  text-align: center;
  color: #3f51b5;
  margin-bottom: 20px;
  font-weight: 500;
}

.cart-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 10px;
}
.cart-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
}


mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.total-card {
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
}
.book-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
