<app-navbar></app-navbar>
<h2 class="section-title">🛒 Carrinho</h2>

<div class="cart-grid">
  <mat-card *ngFor="let item of cartItems" class="cart-card mat-elevation-z2" appearance="outlined">
    
    <!-- Cabeçalho com título -->
    <mat-card-header>
      <mat-card-title>{{ getBookTitle(item.bookId) }}</mat-card-title>
    </mat-card-header>

    <!-- Imagem -->
  <img mat-card-image
      *ngIf="bookExists(item.bookId)"
      [src]="getBookImage(item.bookId)"
      (error)="onImageError($event)"
      alt="{{ item.bookTitle }}">



    <!-- Conteúdo -->
    <mat-card-content>
      <p><strong>Quantidade:</strong> {{ item.quantity }}</p>
      <p><strong>Preço Unitário:</strong> {{ item.unitPrice | currency:'EUR' }}</p>
      <p><strong>Subtotal:</strong> {{ item.subTotal | currency:'EUR' }}</p>

      <p *ngIf="item.cart">
        <strong>Adicionado em:</strong> {{ item.cart.createdDate | date:'short' }}
      </p>
    </mat-card-content>

    <!-- Ações -->
    <mat-card-actions align="end">
      <button mat-icon-button color="warn" (click)="removeItem(item.id!)" matTooltip="Remover item">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Card do total -->
<div class="total-card mat-elevation-z2">
  <mat-card-title style="font-weight: bold;">Total: {{ getTotal() | currency:'EUR' }}</mat-card-title>
</div>
<div class= " total-card mat-elevation-z2">
  <button mat-button color="primary" (click)="onCreateOrder()">
    🛒 Avançar para encomenda
  </button>
</div>
